.special-offer
    background-color: $color_special_offer_background
    &__title
        margin-top: 65px
        padding-top: 35px
    & p
        text-align: center
        font-size: 18pt
    &__input
        display: flex
        justify-content: center

.input-phone
    width: 47%
    height: 50px
    border: none
    border-radius: 25px
    transform: translateX(120px)
    box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.4)
    margin-bottom: 65px
    outline: none
    padding-left: 20px
    &::placeholder
        color: $color_placeholder

.input-button
    width: 240px
    height: 52px
    transform: translate(-120px, -15px)

@media screen and (max-width:720px)
    .input-phone
        width: 100%
        position: relative
        transform: translateX(0)
    .input-button
        position: absolute
        right: -50px
