<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/normalize.css")
        title 4px Test
    body
        header.header
            nav
                .wrapper
                    ul.header-list
                        li.header-list__item
                            a.link(href="#") Corolla
                        li.header-list__item
                            a.link(href="#") Camry
                        li.header-list__item
                            a.link(href="#") RAV4
                        li.header-list__item
                            a.link(href="#") Highlander
                        li.header-list__item
                            a.link(href="#") Land Cruiser Prado
                        li.header-list__item
                            a.link(href="#") Land Cruiser 200
                        li.header-list__item
                            a.link(href="#") Hilux
                        li.header-list__item.active
                            a.link.active(href="#") Fortuner
                        li.header-list__item
                            a.link(href="#") Prius
        main
            .wrapper
                section.title
                    .description
                        h1 Fortuner
                        p Ты настоящий
                        table.profit
                            tbody
                                tr.profit__row
                                    td.profit__data
                                        p кредит в день от
                                        p.price 304
                                    td.profit__data
                                        p выгода до
                                        p.price 365 000
                                tr.profit__row
                                    td.profit__data
                                        p скидка по trade-in до
                                        p.price 150 000
                                    td.profit__data
                                        p в подарок
                                        p 3 TO
                                tr.profit__row(colspan='2')
                                    td.profit__data
                                        p в подарок
                                        p зимние шины
                        .offer
                            .block
                                i.offer__icon
                                a.offer__link(href="#") Записаться на Тест-драйв
                            button.button Получить предложение
                            a.offer__question(href="#") Нашли дешевле?
                    .presentation
                        img.presentation__background(src="img/mountain.png", alt="mountain")
                        img.presentation__car-model(src="img/fortuner_main_model.png", alt="car-model")
                        .special-price
                            p.presentation__description Специальная цена <br> от официального диллера
        section.benefit
            .wrapper
                ul.benefit__list
                    li.benefit__item.active-item
                        .benefit__title
                            p 01
                            p цена, как <br> для сотрудника
                        p Отдаем а/м по закрытому прайсу, как для сотрудника ДЦ.
                        p Предложение ограничено. Спешите.
                    li.benefit__item
                        .benefit__title
                            p 02
                            p улучшим предложение
                        p Уже получили предложение по цене в другом салоне?
                        p Не спешите, - Мы его улучшим!
                    li.benefit__item
                        .benefit__title
                            p 03
                            p бронь а/м <br> из поставки
                        p Бронируйте лучшие а/м еще до поступления в салон.
                        p Пока вы думаете - другие покупают.
                    li.benefit__item
                        .benefit__title
                            p 04
                            p льготный кредит
                        p Оформите кредит на выгодных условиях.
                        p Низкие ставки. Нет скрытых платежей.
        section
            .wrapper
                h2.section-title Автомобили в наличии
                .stock
                    .stock__logo
                        img(src="../img/fortuner_mini_model.png", alt="fortuner_mini_model")
                    .stock__description
                        .card-info
                            p.card-info__title Fortuner
                            p Год выпуска: 2016
                            p Двигатель: 1,6 МТ (110 л.с.)
                            p КПП: Механическая
                            p Привод: Передний привод
                            p Цвет: Серый металик
                        .card-credit
                            p.card-credit__profit выгода до 
                                span 100 500
                            p.card-credit__sum в кредит от 
                                span 5 000
                            p.card-credit__info Подробнее: 
                                span +7(351)211-10-10
                            button.button Узнать цену
                .stock-button
                    button Смотреть ещё
        section.special-offer
            .wrapper
                h2.section-title.special-offer__title Уникальное предложение
                p Получите максимально выгодные условия на покупку 
                    strong Toyota
                .special-offer__input
                    input.input-phone(type="tel" placeholder='Введите номер телефона')
                    input.button.input-button(type="button" value='Получить предложение')