$ToyotaDisplay: ToyotaDisplay, Arial, sans-serif
$ToyotaText: ToyotaText, Arial, sans-serif

$color_text: #333333
$color_link: #e50000
$color_white: #ffffff
$color_table_pseudo: #999999
$color_before_pseudo: #a0a0a0
$color_after_pseudo: #b20000
$color_border: #484848
$color_white_alpha: rgba(255, 255, 255, .2)
$color_section_title_border: #f27f7f
$color_stock_background: #f6f6f6
$color_special_offer_background: #f0f0f0
$color_placeholder: #3d3d3d